VITE_SUPABASE_URL=https://bawwxyrlabsghvamrafa.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJhd3d4eXJsYWJzZ2h2YW1yYWZhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg5OTA3MTEsImV4cCI6MjA5NDU2NjcxMX0.x1WCo6NT2NGH0XrZL_YqiEndBXtI6t2PCfQCIDR5s-M
VITE_SUPABASE_OAUTH_PROVIDER=google
GEMINI_API_KEY=
